@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--black-gradient: linear-gradient(
		144.39deg,
		#ffffff -278.56%,
		#6d6d6d -78.47%,
		#11101d 91.61%
	);
	--card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

body {
	background: #00040f;
	font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
p,
a,
span {
	font-family: "Poppins", sans-serif;
}

.text-gradient {
	background: radial-gradient(
		64.18% 64.18% at 71.16% 35.69%,
		#def9fa 0.89%,
		#bef3f5 17.23%,
		#9dedf0 42.04%,
		#7de7eb 55.12%,
		#5ce1e6 71.54%,
		#33bbcf 100%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}

.blue__gradient {
	background: linear-gradient(
		180deg,
		rgba(188, 165, 255, 0) 0%,
		#214d76 100%
	);
	filter: blur(123px);
}

.pink__gradient {
	background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
	filter: blur(900px);
}

.white__gradient {
	background: rgba(255, 255, 255, 0.6);
	filter: blur(750px);
}

.bg-blue-gradient {
	background: linear-gradient(
		157.81deg,
		#def9fa -43.27%,
		#bef3f5 -21.24%,
		#9dedf0 12.19%,
		#7de7eb 29.82%,
		#5ce1e6 51.94%,
		#33bbcf 90.29%
	);
}

p {
	color: rgba(255, 255, 255, 0.7);
}

.bg-black-gradient-2 {
	background: linear-gradient(
		-168.39deg,
		#ffffff -278.56%,
		#6d6d6d -78.47%,
		#11101d 91.61%
	);
}

.box-shadow {
	box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.bg-gradient {
	background: radial-gradient(
		64.18% 64.18% at 71.16% 35.69%,
		#def9fa 0.89%,
		#bef3f5 17.23%,
		#9dedf0 42.04%,
		#7de7eb 55.12%,
		#5ce1e6 71.54%,
		#33bbcf 100%
	);
}

.ul {
	list-style-type: square;
}

@keyframes subtle-move-1 {
	0% {
		transform: translate(0, 0);
	}
	25% {
		transform: translate(8px, -4px);
	}
	50% {
		transform: translate(-4px, 8px);
	}
	75% {
		transform: translate(4px, -8px);
	}
	100% {
		transform: translate(0, 0);
	}
}

@keyframes subtle-move-2 {
	0% {
		transform: translate(0, 0);
	}
	25% {
		transform: translate(-6px, 4px);
	}
	50% {
		transform: translate(6px, -6px);
	}
	75% {
		transform: translate(-4px, 6px);
	}
	100% {
		transform: translate(0, 0);
	}
}
@keyframes subtle-move-3 {
	0% {
		transform: translate(0, 0);
	}
	25% {
		transform: translate(5px, -5px);
	}
	50% {
		transform: translate(-5px, 5px);
	}
	75% {
		transform: translate(7px, -7px);
	}
	100% {
		transform: translate(0, 0);
	}
}

.subtle-move-1 {
	animation: subtle-move-1 10s infinite ease-in-out;
}

.subtle-move-2 {
	animation: subtle-move-2 12s infinite ease-in-out;
}

.subtle-move-3 {
	animation: subtle-move-3 14s infinite ease-in-out;
}
